.TodoList {
  width: 400px;
}
.TodoListItem {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid tomato;
}

.TodoListItem__complited {
  color: tomato;
}

.TodoListText {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
.TodoEditor {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
}
.TodoEditor__button {
  width: 100%;
  height: 30px;
  margin: 10px auto;
  display: block;
  border: 2px solid blue;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.TodoEditor__button:active {
  background-color: white;
  color: blue;
}
.TodoEditor__Text {
  font-size: 14px;
  line-height: 16px;
  height: 72px;
  padding: 12px 16px;
  border: 1px solid tomato;
  border-radius: 4px;
  margin-bottom: 12px;
  resize: none;
}
