.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  color: black;
}

.itemTotal {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.14;
  color: rgb(11, 185, 11);
}

.itemPositive {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.14;
  color: blue;
}
